{% extends "base.html" %}

{% block content %}
    <h1>Add a Book</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.book_name.label }} {{ form.book_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.book_author.label }} {{ form.book_author(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.rating.label }} {{ form.rating(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}