<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <!-- when the action is set to login this mean that data will be sent to the login route. -->
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <p>
            {{ form.email.label }} <br> {{ form.email }}
            {% for err in form.email.errors %}
            <span style="color: red;">{{ err }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br> {{ form.password }}
            {% for err in form.password.errors %}
            <span style="color: red;">{{ err }}</span>
            {% endfor %}
        </p>        
        {{ form.submit }}
    </form>
</body>
</html>
